*{
  padding: 0px;
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
 }
 
body
{
	background-image: url("Anh/background2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.full {
  width: 100%;
  height: 1430px;
  margin: 0 auto;
}
nav {
  width: 100%;
  height: 60px;
  background-color:#BC3A3D;
  z-index: 10;
  }
table{
	width: 100%;
}
table tr td{
	text-align: center;
  }
.banner{
	width: 100%;
	height: 50%;
	text-align: center;
 }
/*.menu {
  width: 100%;
  height: 65px;
  float: left;
}*/
.timkiem {
  width:100%;
  padding : 0px 5px;
  float: left;
}
/*.dangky {
	position: relative;
}*/
ul li {
  list-style: none;
  padding: 10px 10px;
  display: inline-block;
}
.menu ul li a {
  text-decoration: none;
  font-weight: bold;
  color:white;
  font-size: 18px;
  line-height: 40px;
  padding: 20px 10px;
 }
.menu ul li a:hover {
  background-color: purple;
}
.dangky ul li a{
	text-decoration: none;
  font-weight: bold;
  color:white;
  font-size: 18px;
  line-height: 40px;
  padding: 20px 10px;
}
.dangky ul li a:hover{
	background-color: purple;
}
nav input {
  width: 60%;
  height: 24px;
  margin: 8px 8px 8px 0px;
  text-align: center;
}
nav{
	position: fixed;
	top: 0px;
}
#search{
	width: 25%;
  height: 24px;
  margin: 8px 8px 8px 0px;
  text-align: center;
}
article {
  width: 100%;
  min-height: 1250px;
}

table td
{
	align-content: center; 
	width: 25%;
	margin: 0 auto;
}
td {
 width: 350px;
 height: 600px; 
 position: relative;
 left: 9%;
 align-content: center;
 }
#ten11,
#ten21,
#ten31,
#ten41,
#ten51,
#ten61 {
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  top: 20px;
  color: white;
  margin-left: 65px;
}
#ten11:hover,
#ten21:hover,
#ten31:hover,
#ten41:hover,
#ten51:hover,
#ten61:hover {
  color: white;
  font-size: 170%;
  font-weight:bold;
 }
#anh {
  position: absolute;
  left: 45px;
  bottom: 240px;
}
.mau {
  position: absolute;
  bottom: 193px;
  left: 95px;
}
#gia11,
#gia21,
#gia31 {
  position: absolute;
  bottom: 145px;
  left: 80px;
  color: rgb(0, 160, 106);
  font-weight: bold;
  font-size: 20px;
}
#gia41,
#gia51,
#gia61 {
  position: absolute;
  bottom: 125px;
  left: 85px;
  color: rgb(0, 160, 106);
  font-weight: bold;
  font-size: 20px;
}
#giagoc {
  position: absolute;
  bottom: 155px;
  left: 55px;
  color: orange;
  font-weight: bold;
  font-size: 20px;
}
#add {
  width: 280px;
  height: 50px;
  border: 3px solid rgb(0, 160, 106);
  color: white;
  background-color: rgb(0, 219, 146);
  position: absolute;
  bottom: 65px;
  left: 30px;
  font-size: 20px;
  font-weight: bold;
}
#add:hover {
  border: 3px solid rgb(0, 160, 106);
  background-color: white;
  color: rgb(0, 160, 106);
}
.mau > img:hover {
  border: 3px solid rgb(200, 0, 0);
  width: 35px;
  height: 35px;
}
img{
  width:30px;
  height:30px;
}
.anh_sanpham{
  border: 3px solid rgb(220, 0, 0);
  width: 250px;
  height: 300px;
}
/* #tieude2
{
	color: white;
} */
.vedau {
  position: fixed;
  text-align:center;
  bottom: 0;
  right: 0;
  text-decoration: none;
  font-size:20px;
  background-color:white;
  color: red; 
  width: 90px;
  height: 90px;
  border: 3px solid yellow;
  z-index: 5;
}

	@media
	  only screen 
    and (max-width: 500px)  {

		table, thead, tbody, th, td, tr {
			display: block;
		}
		td {
		width:100%;
		display: block;	
			 float: left;
		padding-left:100%;
		}
		td img{
	    border: 0px solid rgb(200, 0, 0);
		/* padding-left:50%; */
		}
		
		.anh_sanpham{
		border: 0px solid rgb(22, 0, 0);
		display: block;
		}
		img 
		{
		display: block;	
		}
		td div{
		display: block;
		}
		#add {
		width: 65%;
		height: 50px;
		border: 3px solid rgb(0, 160, 106);
		color: white;
		background-color: rgb(0, 219, 146);
		position: absolute;
		bottom: 65px;
		left: 30px;
		font-size: 20px;
		font-weight: bold;
}
		#add:hover {
		border: 3px solid rgb(0, 160, 106);
		background-color: white;
		color: rgb(0, 160, 106);
}
		nav{
		padding-bottom:280px;
		}
		.timkiem{
		display:block;
		width:300px;
		padding : 0px 5px;
		height:270px;
		float: right;		
		}
		.search{
		height:60px;
		width:200px;
		font-size:25px;
		background-color:white;
		}
		button:hover{
		font-size:25px;
		color:red;
		background-color:white;
		}
		.menu{
		width:65%;
		text-align: left;
		}
		footer div{
		display:block;
		}
		/* fix{
		padding:0px;
		float:left;
		border-radius:0px;
		width:90%;
		} */
		.mau > img:hover {
  border: 0px solid rgb(200, 0, 0);
  width: 35px;
  height: 35px;
}
	}
  .banner{
    width: 60%;
    height: 596px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #918B8B;	
    background-color: white;
    margin-top: 15px;
    background-image: url("Anh/banner9.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 #E34646, 0 6px 20px 0 #E34646;
    border-radius: 10px;
    margin-top: 100px;
  }
  h1{
    text-align: center;
            color: white;
            margin-top: 20px;
            font-size: 40px;
  }
  #tieude1{
    text-align: center;
            color: white;
            margin-top: 20px;
            font-size: 40px;
            font-family: creepsville;
  }
  #gianhang{
    width: 100%;
    height: 500px
  }
  .gianhang2{
    width: 100%;
    height: 500px ;
    border: 1px solid black;
  }
  hr{
    color: white;
  }

